/* ==================ASIDE-LEFT================== */
.header{min-height: 8vh;}

.container-apresentacao{
    min-height:  0vh;
    padding: 20vh 0vh;
}

.container-habilidades{min-height: 20vh;}




/* ==================ASIDE-RIGHT================== */
.bloco{
    height: 35vh;
    background: white;
    border: 1px solid grey;
}



/* ==================FOOTER================== */
.footer{clear: both;}



/* ==================BREAKPOINTS================== */

/* W-992PX */
@media screen and (min-width: 992px){
    .aside-left, .aside-right{min-height: 100vh;}

    /* ASIDE-LEFT */
    .header{min-height: 10vh;}

    .container-apresentacao{min-height:  60vh;}  
}

/* W-1140PX */
@media screen and (min-width: 1200px){
   
}


/* H-720 */
@media screen and (min-height: 720px){
    /* ASIDE-RIGHT */
    .container-blocos{padding: 15vh 0vh;}
}

/* H-1200 */
@media screen and (min-height: 1024px){
    /* ASIDE-LEFT */
    .container-apresentacao{
        padding: 20vh 0vh;
    }
}

